-----BEGIN CERTIFICATE-----
MIIEJDCCAwygAwIBAgIDCKvDMA0GCSqGSIb3DQEBCwUAMEcxCzAJBgNVBAYTAlVT
MRYwFAYDVQQKEw1HZW9UcnVzdCBJbmMuMSAwHgYDVQQDExdSYXBpZFNTTCBTSEEy
NTYgQ0EgLSBHMzAeFw0xNTEyMDEwOTI3NDZaFw0xNzAxMDIxMjUzMTZaMBQxEjAQ
BgNVBAMMCSouc292YS5iejCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
AKik/OP9Km+1Mxm87QhAZVKEf0gQbnsJtwJZItFPeOI0uhtx+iqgmJItzbT6fK1z
EcO138gISFlmrkBVMK8DT2fCOXSyxv77WmVgHGKtSDHPVhjtAvd3UsdYoNG1T1Lo
VErFOdVUUpjU0OLcO7kVGq2KHO6m9QJtpB14jA6FugSoNhf+xrb8G/VtiQG9eex7
odEcLwGlzae//d41SsK+StNRKY2htBzjhEwB76H8uc18Yao/72cLBmdBuQ8cs111
L96EEM/Sga/dBz8XuRshWlDK7NQ36Cepp3+e5TB25/7p/sdGR2pg/E1a+x7beIGL
jVvmq+agesdMEu16MPzEvb0CAwEAAaOCAUowggFGMB8GA1UdIwQYMBaAFMOc8/zT
Rgg0u85Gf6B8W/PiCMtZMFcGCCsGAQUFBwEBBEswSTAfBggrBgEFBQcwAYYTaHR0
cDovL2d2LnN5bWNkLmNvbTAmBggrBgEFBQcwAoYaaHR0cDovL2d2LnN5bWNiLmNv
bS9ndi5jcnQwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggr
BgEFBQcDAjAdBgNVHREEFjAUggkqLnNvdmEuYnqCB3NvdmEuYnowKwYDVR0fBCQw
IjAgoB6gHIYaaHR0cDovL2d2LnN5bWNiLmNvbS9ndi5jcmwwDAYDVR0TAQH/BAIw
ADBBBgNVHSAEOjA4MDYGBmeBDAECATAsMCoGCCsGAQUFBwIBFh5odHRwczovL3d3
dy5yYXBpZHNzbC5jb20vbGVnYWwwDQYJKoZIhvcNAQELBQADggEBABwRyqjQzo4f
EZghQsHEbpvflCyY/Mvm3OnlTp2q+Bost2+uW2z9kDhb5zcDFLzplUcY4FYf+LJ/
mi8uIH36Pl0Af3pjvk1gLceBwZkYKf3GYAz/nRTFI5XVhdworGwEgKrBpkDOrIm7
NeWJKmAWUDz2R9ETPJXkDZ96WYe5hKWOU7Qb//kwuatFvtDcDRKm0odW/D08hWh+
pMlOwVnxwUzlU/yzFIFm3t61UPgv3TDYZgrESgDaktWlDJgQB4PohKDdX0MMlDvn
adQXLp6fRn4EGhadqgz/Rt2KfBY9HgB2tnMAxRk13zLh9e5Ml0qyouAbQNdrO/lq
oFYtxb/njtM=
-----END CERTIFICATE-----