/var/www/html 10.1.11.11(sync,rw,all_squash,anonuid=500,anongid=500) 10.1.11.12(sync,rw,all_squash,anonuid=500,anongid=500)
/var/www/html 10.1.20.243(sync,rw,all_squash,anonuid=500,anongid=500) 10.1.20.244(sync,rw,all_squash,anonuid=500,anongid=500)
