[Definition]
failregex = <HOST>.*POST.*(xmlrpc\.php).*
ignoreregex = <HOST>.*POST /xmlrpc.php HTTP.* "MarsEdit"|".*Windows Live Writer.*"|"Jetpack by WordPress.com"|"wp-iphone/.*"|"wp-android/.*"|"SLPRO%%20Blog%%20Editor/.*"
