vrrp_script chk_sshd {
        script "/usr/bin/killall -0 sshd"
        interval 2
        weight 2
}

global_defs {
 notification_email {
      zabbix@midx.jp
 }
 notification_email_from zabbix@midx.jp
 smtp_server localhost
 smtp_connect_timeout 30
 router_id sova_sshd

}

vrrp_instance VI_NODE {
 state {{ state }}
 interface  eth0
 virtual_router_id  {{ virtual_router_id }}
 priority  {{ priority_id }}
 advert_int 1

 authentication {
        auth_type PASS
        auth_pass onigiri0517
 }
 track_script {
        chk_sshd
 }
 virtual_ipaddress {
        {{ virtual_ipaddress }}
 }
}

